.caja{
    position: static;
}
.boton-busqueda{  
    height: 3.5rem;
    border-radius: 0.8rem;
    width: 22rem;
    text-align: right;    
}
.search-icon{
    position: relative;
    left: 2rem;
    color: gray;
}

.dark-theme input[type="search"]{
    background-color: var(--Dark-Mode-Element);
    outline-offset: 0px;
    border: none;
    color: white;
}

.light-theme input[type="search"]{
    box-sizing: border-box;
    background-color: white;
    outline-offset: 0px;

    border: solid;
    border-width: 1px;
    border-color: lightgray;
}
