.contenedor {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
}
.tipoGrilla {
  display: grid;
  position: relative;
  left: -2em;
  justify-content: flex-start;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(100, auto);
  grid-gap: 1em 2em;
}

@media only screen and (max-width: 1200px) {
  .tipoGrilla {
    display: grid;
    justify-content: flex-start;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(100, auto);
    left: 0;
  }
}

@media only screen and (max-width: 1000px) {
  .tipoGrilla {
    grid-template-columns: repeat(2, 50%);
    left: 0;
  }
}

.contenedor-filtros{
  display: flex;
  width: 100%;
}
.contenedor-por-nombre{
  display: flex;
  width: 60%;
}
.contenedor-por-region{
  display: flex;
  justify-content: flex-end;
  width: 40%;
}


@media only screen and (max-width: 650px) {
  .tipoGrilla {
    grid-template-columns: repeat(1, 100%);
    left: 0;
  }
  .contenedor-filtros{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
  }
  .contenedor-por-nombre{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .contenedor-por-region{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

