.contenedor {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
}
.tipoGrilla {
  display: grid;
  position: relative;
  left: -2em;
  justify-content: flex-start;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(100, auto);
  grid-gap: 1em 2em;
}

@media only screen and (max-width: 1200px) {
  .tipoGrilla {
    display: grid;
    justify-content: flex-start;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(100, auto);
    left: 0;
  }
}

@media only screen and (max-width: 1000px) {
  .tipoGrilla {
    grid-template-columns: repeat(2, 50%);
    left: 0;
  }
}

.contenedor-filtros{
  align-items: center;
  display: flex;
  width: 100%;
}
.contenedor-por-nombre{
  display: flex;
  width: 70%;
}
.contenedor-por-region{
  display: flex;
  justify-content: flex-end;
  width: auto;
}

.margen-filtros{
  margin: 1rem;
}

@media only screen and (max-width: 650px) {
  .tipoGrilla {
    grid-template-columns: repeat(1, 100%);
    left: 0;
  }
  .contenedor-filtros{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .contenedor-por-nombre{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .contenedor-por-region{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
    
  .encabezado{
    width: 100%;
    padding-left: 0 !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .izq{
    justify-content: center;
    width: 100% !important;
  }
  .der{
    justify-content: center !important;
    width: 100% !important;
  }
  .boton-busqueda{
    width: 250px !important;
  }
  .tarjeta{
    position: static !important;
    margin-right: 0 !important;
  }
}

