.tarjeta{
    border: solid;
    text-align: left;
    padding: 10px;
    width: 264px;
    height: 346px;
    border-radius: 10px;
    margin-right: 15px;
    margin-top: 15px;
    background-color: bisque;
}