.contenedor-vecinos{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.dark-theme .color-text-vecino{
    color:white;
    margin-right: 5px;
    
}
.light-theme .color-text-vecino{
    color:var(--Light-Mode-Text);
    margin-right: 5px;
}

.contenedor-vecinos-titulo{
    width: 25%;
    min-width: 120px;
}

.contenedor-vecinos-botones{
    width: auto;
}