body {
  margin: 50;
  background-color: var(--Light-mode-background);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  color: inherit;
  text-decoration: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --Dark-Mode-Element: hsl(209, 23%, 22%); /*(Dark Mode Elements)*/
  --Dark-Mode-Background: hsl(207, 26%, 17%); /* (Dark Mode Background)*/
  --Light-Mode-Text: hsl(200, 15%, 8%); /* (Light Mode Text)*/
  --Light-Mode-Input: hsl(0, 0%, 52%); /* (Light Mode Input)*/
  --Light-Mode-Background: hsl(0, 0%, 98%);  /* (Light Mode Background)*/
  --Light-Mode-Element: hsl(0, 0%, 100%); /*(Dark Mode Text & Light Mode Elements)*/
  --round-tarjeta: 15px;
  --Light-mode-background: #fafafa;
}

.light-theme {
  background-color: var(--Light-Mode-Background);
}
.dark-theme {
  background-color: var(--Dark-Mode-Background);
}
